<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a id="logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<button class="button is-primary m-2" id="make-post">Create Post</button>

<div class="row align-center mb-5">
    <div class="col-md-9">
        <ul>
            {{#each posts as |post|}}
            <li class="card">
                <div class="card-content">
                    <h3 class=" content title is-4 has-text-link">{{post.title}}</h3>
                    <p>{{post.content}}</p>
                </div>
            </li>


            {{/each}}
        </ul>
    </div>
</div>

<script src="../js/logout.js"></script>
<script src="../js/dashboard.js"></script>